.App {
  text-align: center;
  margin: 0%;
  padding: 0%;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  border-style: none;
  background-image: linear-gradient(-95deg,hsl(0, 84%, 51%),grey);
  background-repeat: no-repeat;
  text-decoration: none;
  list-style: none;
}

.nav-bar li { 

  display: inline-block;
}

.content{
  padding-right: 24px;
}

.center{
  text-align: center;
  text-emphasis-color: blue; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 3.5em;
}

